# mainnet | testnet | number for custom
CHAIN=mainnet

# api
API_IS_ENABLED=1
API_REST_IS_ENABLED=1
API_GRPC_IS_ENABLED=1
API_WS_IS_ENABLED=1
#shard ids served by api comma separated 0,1,2,3
API_SHARDS=0,1,2,3
# enable LRU memory cache
# API_IS_CACHE_ENABLED=0
# API_REST_ACCESS_KEY=12345

# Indexer
INDEXER_IS_ENABLED=1
# blocks,txs,staking tx, internal txs,contracts
INDEXER_BLOCKS_IS_ENABLED=1
# logs
INDEXER_LOGS_IS_ENABLED=1
INDEXER_LOG_INITIAL_BLOCK_SYNCING_HEIGHT=10010121
# smart contracts
INDEXER_CONTRACTS_IS_ENABLED=1
# smart contract trackers erc20,erc721 comma separated
INDEXER_CONTRACTS_TYPES=erc20,erc721
# onewallet total balances indexer, running once a day
INDEXER_ONEWALLET_IS_ENABLED=1
INDEXER_IS_SYNCED_THRESHOLD=10

# shard ids synced by indexer comma separated 0,1,2,3
INDEXER_SHARDS=0
INDEXER_BATCH_COUNT=1000
BLOCK_INDEXER_BLOCK_RANGE=10
# ws | http. ws works faster
INDEXER_RPC_TRANSPORT=ws

# rpc list for a shard comma separated
# http
#INDEXER_RPC_SHARD0=https://a.api.s0.t.hmny.io,https://api.s0.t.hmny.io
#INDEXER_RPC_SHARD1=https://api.s1.t.hmny.io
#INDEXER_RPC_SHARD2=https://api.s2.t.hmny.io
#INDEXER_RPC_SHARD3=https://api.s3.t.hmny.io

#ws
INDEXER_RPC_SHARD0=wss://ws.s0.t.hmny.io
INDEXER_RPC_SHARD1=wss://ws.s1.t.hmny.io
INDEXER_RPC_SHARD2=wss://ws.s2.t.hmny.io
INDEXER_RPC_SHARD3=wss://ws.s3.t.hmny.io

#localhost
SHARD0_POSTGRES_HOST=localhost
SHARD0_POSTGRES_USER=postgres
SHARD0_POSTGRES_PASSWORD=
SHARD0_POSTGRES_DB=e
SHARD0_POSTGRES_PORT=5432
SHARD0_POSTGRES_POOL_SIZE=25

SHARD1_POSTGRES_HOST=localhost
SHARD1_POSTGRES_USER=postgres
SHARD1_POSTGRES_PASSWORD=
SHARD1_POSTGRES_DB=e1
SHARD1_POSTGRES_PORT=5432
SHARD1_POSTGRES_POOL_SIZE=25

SHARD2_POSTGRES_HOST=localhost
SHARD2_POSTGRES_USER=postgres
SHARD2_POSTGRES_PASSWORD=
SHARD2_POSTGRES_DB=e2
SHARD2_POSTGRES_PORT=5432
SHARD2_POSTGRES_POOL_SIZE=25

SHARD3_POSTGRES_HOST=localhost
SHARD3_POSTGRES_USER=postgres
SHARD3_POSTGRES_PASSWORD=
SHARD3_POSTGRES_DB=e3
SHARD3_POSTGRES_PORT=5432
SHARD3_POSTGRES_POOL_SIZE=25

#AWS key storage
AWS_CONFIG_IS_ENABLE=1
AWS_SDK_CONFIG_REGION=/keys/config
AWS_SDK_CONFIG_CREDENTIAL=/keys/credential
AWS_SDK_CONFIG_ENCRYPTED_FILE=/app/keys/pg-credentials.encrypted
